.filters {
    display: flex;
    gap: 1rem;
}

.filter__btn {
    background-color: var(--gray-scale-2);
    color: var(--gray-scale-4);
    border: none;
}

.filter__btn:hover {
    background-color: var(--color-primary-1);
    color: var(--gray-scale-1);
    border: none;
}