.home__total {
    display: flex;
    flex-direction: column;
    border: var(--gray-scale-3) 1px solid;
    padding: 1.25rem 1.5rem;
    gap: 0.5rem;
}

.home__total__info {
    display: flex;
    justify-content: space-between;
}

.total__text {
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-1);
    color: var(--gray-scale-4);
    line-height: 30px;
}

.total__number {
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-2);
    color: var(--color-primary-1);
    line-height: 30px;
}

.total__info {
    color: var(--gray-scale-3);
    font-size: var(--font-size-4);
    line-height: 20px;
}